.app {
  display: flex;
  padding: 30px;
}

.game {
  width: 560px;
  height: 560px;
  display: flex;
  flex-wrap: wrap;
}

.game img {
  width: 70px;
  height: 70px;
}

.score-board h2 {
  margin: 10px 20px;
  padding: 10px;
  box-shadow: 2px 4px gray;
  border: 2px solid black;
}
